
main {
    background-color: azure;
    margin: auto;
    width: 80%;
}
.main {
    padding: 100px;
    margin: auto;
}

.article {
    background-color: #ffffff;
}

.label {
    height: 78px;
    background-color: #FFFFFE;
    border-radius: 5px;
}

.input {
    padding-top: 2rem;
    padding: 1rem;
}
.input input {
    width: 65%;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    background: #F2F7F5;
    border-radius: 5px;
    border: solid 1px transparent;
    outline: none;
}

.input button {
    background: #FAAE2C;
    border-radius: 5px;
    border: none;
    padding: 10px;
}